<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Footer</title>
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="footer-container">
        <div class="footer-text">
            Designed By <a class="footer-link" href="https://appash047.github.io/Portfolio/">Appasha - Backend Developer</a> &nbsp; | &nbsp; All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>